/* --------------- */
/* Reset */
/* --------------- */
/* Box sizing */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
blockquote,
dl,
dd {
    margin: 0;
}
body{
    line-height: 1.5;
    min-height: 100vh;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
    list-style: none;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    font: inherit;
}
/* Remove animations for people who've turned them off */
/* --------------- */
/* Utility Classes */
/* --------------- */
.flex {
    display: -webkit-box;
    display: flex;
    gap: var(--gap, 1rem);
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}
.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 80rem;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap; /* added line */
    border: 0;
}
.box{
    background-color: lightblue;
    padding: 3rem;
}
@media (prefers-reduced-motions: reduce) {
    *,
    *::before,
    *::after{
        -webkit-animation-duration: 0.01ms !important;
                animation-duration: 0.01ms !important;
        -webkit-animation-iteration-count: 1 !important;
                animation-iteration-count: 1 !important;
        -webkit-transition-duration: 0.01ms !important;
                transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}